{% extends "base.html" %}

{% block title %}UČITAVANJE POTREBNIH DATOTEKA - {{ session.name }}{% endblock %}

{% block additional_css %}

    <style>
        .upload-form-container {
            background-color: #fff;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            margin-top: 2rem;
        }

        .header-title {
            font-size: 1.75rem;
            color: #333;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .form-label {
            font-weight: bold;
            color: #555;
        }

        .btn-primary {
            background-color: #58427C;
            border-color: #3d2e56;
        }

        .btn-primary:hover {
            background-color: #7a5fa9;
            border-color: #70549c;
        }

        .lead {
            font-size: 1rem;
            color: #666;
        }

        /* Enhance the file input with Bootstrap custom file input style */
        .form-control[type="file"] {
            height: calc(3.15rem + 2px);
            padding: 0.375rem 0.75rem;
        }

        .form-control[type="file"]::file-selector-button {
            padding: 0.375rem 0.75rem;
            margin-right: 0.375rem;
            border-radius: 0.25rem;
            border: 1px solid #ced4da;
            background-color: #e9ecef;
            color: #495057;
            cursor: pointer;
        }
    </style>

{% endblock %}

{% block additional_js_before %}

{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="upload-form-container">
                <div class="text-center mb-4">
                    <h2 class="header-title">Učitavanje potrebnih datoteka</h2>
                    <p class="lead">
                        Ovdje je potrebno učitati CSV koji se izveze iz CMS-a. Potrebno je da taj export sadrži slijedeće stupce: <strong>Status, Broj, Email, Naslov, EAN, Naručena količina!</strong> Bitno je datum staviti u neki razumni interval od npr. prije mjesec dana do sada!
                    </p>
                </div>
                <!-- Location checkboxes -->
                <div class="text-left mb-2">
                    <label for="locationForm" class="form-label">Odabir lokacija za sortiranje robe:</label>
                </div>
                <form id="locationForm" class="d-flex flex-wrap justify-content-center">
                    {% for key, value in location_mapping.items() %}
                        <div class="col-md-4 d-flex justify-content-left">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ key }}" id="{{ key }}"
                                       checked>
                                <label class="form-check-label" for="{{ key }}">
                                    {{ value }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </form>
                <br>

                <form id="fileUploadForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="file1" class="form-label">Export narudžbi:</label>
                        <input type="file" class="form-control" id="file1" name="file1" required>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-lg" id="uploadButton">Učitaj i sortiraj</button>
                        <button type="button" class="btn btn-primary btn-lg" id="sortButton">Sortiraj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block additional_js_after %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#uploadButton').click(function () {
                // Disable the button and change its text
                $(this).prop('disabled', true).text('Učitavanje i sortiranje...');

                var formData = new FormData($('#fileUploadForm')[0]);

                // Collecting the values of checked checkboxes
                var selectedLocations = [];
                $('#locationForm input:checked').each(function () {
                    selectedLocations.push($(this).val());
                });
                $.ajax({
                    url: '/orders/uploader',
                    type: 'POST',
                    data: formData,
                    contentType: false, // This is required for multipart/form-data
                    processData: false, // This is required for multipart/form-data
                    success: function (response) {
                        console.log('Datoteke uspješno učitane.');
                        // Create a query string from selected locations
                        var queryString = selectedLocations.map(function (loc) {
                            return encodeURIComponent('locations[]') + '=' + encodeURIComponent(loc);
                        }).join('&');

                        // Redirect to the new URL with the selected locations as a query string
                        window.location.href = 'http://ceky.ddns.net:1234/api/airtable_records?' + queryString;
                    },
                    error: function (response) {
                        alert('Pogreška prilikom učitavanja! ');
                        $('#uploadButton').prop('disabled', false).text('Učitaj i sortiraj');
                    }
                });
            });

            $('#sortButton').click(function () {
                // Disable the button and change its text
                $(this).prop('disabled', true).text('Sortiranje...');

                var selectedLocations = [];
                $('#locationForm input:checked').each(function () {
                    selectedLocations.push($(this).val());
                });
                // Create a query string from selected locations
                var queryString = selectedLocations.map(function (loc) {
                    return encodeURIComponent('locations[]') + '=' + encodeURIComponent(loc);
                }).join('&');

                // Redirect to the new URL with the selected locations as a query string
                window.location.href = 'http://ceky.ddns.net:1234/api/airtable_records?' + queryString;
                $(this).prop('disabled', false).text('Sortiraj');
            });
        });
    </script>
{% endblock %}
